body, html {
    height: 100%;
    min-height: 300px;
}

.footer {
    height: 2%;
    border-top: 1px solid #ccc;
    padding-top: 5px;
    text-align: center;
}

.container {
    width: 100%;
    margin: 0;
    height: 100%;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

#col1 {
    padding-top: 5%;
}


.views {
height: 100%
}

#login {
    padding-top: 5%;
    height: 100%;
}

.logform {
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid #339944;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

#login-form{
    margin-top: 5%;
    width: 40%;
}

#signup-form{
    margin-top: 3%;
    width: 60%;
}
#properties {
    background-color: rgb(222, 222, 222);
    background-size: 100%;
    border-right: 2px solid #339944;
    height: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

#dashboard {
    height: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

#title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px; 
    text-align: center;
}

#description {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.title {
    background-color: #DDDDDD;
    font-size: 20px;
    font-weight: bold; 
}

.description {
    font-size: 16px;
    margin-bottom: 10px; 
}

.graph {
    padding: 10px;
}

.graphbox {
    padding-left: 15px;
    padding-right: 15px;
}
